@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
    overflow-x: hidden;
}

.slick-prev {
    z-index: 100;
    width: 50px;
    height: auto;
    left: 0
}

.slick-prev::before {
    content: url(../src/assets/images/icons/prev.svg);
    width: 40px;
    height: auto;
    transition: 1s all;
    opacity: 0.5;

    :hover {
        opacity: 1;
    }
}

.slick-next {
    right: 0;
    height: auto;
    width: 50px;
}

.slick-next::before {
    content: url(../src/assets/images/icons/next.svg);
    width: 40px;
    height: auto;
    transition: 1s all;
    opacity: 0.5;

    :hover {
        opacity: 1;
    }
}

.slick-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.5rem 0;
}

li::before {
    content: url(./assets/images/icons/checked.svg);
    width: 24px;
    height: 24px;
}

#composition {

    table,
    td {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 2px;
    }
}

#prices {

    table,
    th,
    td {
        text-align: center;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 4px;
    }

    th {
        background: #FEDC7B;
    }
}